<!-- templates/add scheduling task .html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Scheduling Tasks for News Bot</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-Gn5384xqQ1z8YhQR/zX6FZEEiHq7OfK9c3NFH7xNGbHxxjM++XxKxh4kL12Mz3T6RL5Ob8Vfl6XaMLepQOl8kmQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        /* Dark Mode styles */
        body.dark-mode {
          background-color: #1a1a1a;
          color: #ffffff;
        }
        body.dark-mode a {
          color: #78c0a8;
        }
        body.dark-mode a:hover {
          color: #48a999;
        }
        /* Add more dark mode styles as needed */
      </style>
</head>
<body class="bg-gray-100 dark-mode">
  {% include 'navbar.html' %}

      <br/>
      <br/>
      <br/>
      <br/>
      <div class="bg-gray-800 min-h-screen flex items-center justify-center pt-8">
        <div class="bg-white p-8 rounded shadow-md w-full md:w-1/2 lg:w-1/3 mb-16">
        
        <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">Add Scheduling Weather Task</h1>
        <!-- Newscaster Form -->
         <!-- Added max-w-md and mx-auto for width and centering -->
            <form method="post" action="{% url 'rss_to_audio_app:add_scheduling_weather_task' %}" class="space-y-4">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="sftp_host" class="block text-sm font-medium text-gray-700">SFTP HOST:</label>
                    <input type="text" id="sftp_host" name="sftp_host" class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black" required>
                </div>
                <div class="mb-4">
                    <label for="language" class="block text-sm font-medium text-gray-700">SFTP PORT:</label>
                    <input type="text" id="sftp_port" name="sftp_port" class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black" required>
                </div>
                <div class="mb-4">
                    <label for="sftp_username" class="block text-sm font-medium text-gray-700">SFTP USERNAME:</label>
                    <input type="text" id="sftp_username" name="sftp_username" class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black" required>
                </div>
                <div class="mb-4">
                    <label for="sftp_remote_path" class="block text-sm font-medium text-gray-700">SFTP REMOTE PATH:</label>
                    <input type="text" id="sftp_remote_path" name="sftp_remote_path" class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black" required>
                </div>
                <div class="mb-4">
                    <label for="sftp_password" class="block text-sm font-medium text-gray-700">SFTP PASSWORD:</label>
                    <div class="relative">
                        <input type="password" id="sftp_password" name="sftp_password" class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black" required>
                        <span class="absolute right-0 top-0 mt-2 mr-2 cursor-pointer" id="togglePassword">
                            <i class="far fa-eye" id="eyeIcon"></i>
                        </span>
                    </div>
                </div>
                
                <div class="mb-4">
                    <label for="city_zipcode" class="block text-sm font-medium text-gray-700">Zipcode</label>
                    <input type="text" id="city_zipcode" name="city_zipcode" class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black" required>
                </div>
                
                <div class="mb-4">
                    <label for="schedule_time" class="block text-sm font-medium text-gray-700">SCHEDULE TIME:</label>
                    <input type="text" id="schedule_time" name="schedule_time" class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black" required>
                </div>
                
                <div class=" mt-5">
                    <label for="recurrence_type" class="block text-sm font-medium text-gray-700">Recurrence Type:</label>
                    <select id="recurrence_type" name="recurrence_type" class= "block w-full mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300 bg-white text-black" >
                      <option value="onetime" {% if scheduling_weather_task.recurrence_type == 'onetime' %} selected {% endif %}>One time</option>
                      <option value="weekly" {% if scheduling_weather_task.recurrence_type == 'weekly' %} selected {% endif %}>Weekly</option>
                      <option value="everyhour" {% if scheduling_weather_task.recurrence_type == 'everyhour' %} selected {% endif %}>Every Hour</option>
                      <option value="monthly" {% if scheduling_weather_task.recurrence_type == 'monthly' %} selected {% endif %}>Monthly</option>
                    </select>
                </div>
                <div>
                    <label for="voice" class="block text-sm font-medium text-gray-700">VOICE:</label>
                    <select
                      name="voice"
                      id="voice"
                      class="block w-full mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300 bg-white text-black "
                    >
                    <option value="Joanna" {% if scheduling_weather_task.voice == 'Joanna' %} selected {% endif %}>Joanna</option>
                    <option value="Matthew" {% if scheduling_weather_task.voice == 'Matthew' %} selected {% endif %}>Matthew</option>
                    <option value="Ivy" {% if scheduling_weather_task.voice == 'Ivy' %} selected {% endif %}>Ivy</option>
                    <option value="Justin" {% if scheduling_weather_task.voice == 'Justin' %} selected {% endif %}>Justin</option>
                    <option value="Kendra" {% if scheduling_weather_task.voice == 'Kendra' %} selected {% endif %}>Kendra</option>
                    <option value="Kimberly" {% if scheduling_weather_task.voice == 'Kimberly' %} selected {% endif %}>Kimberly</option>
                    <option value="Salli" {% if scheduling_weather_task.voice == 'Salli' %} selected {% endif %}>Salli</option>
                    <option value="Joey" {% if scheduling_weather_task.voice == 'Joey' %} selected {% endif %}>Joey</option>
                    <option value="Nicole" {% if scheduling_weather_task.voice == 'Nicole' %} selected {% endif %}>Nicole</option>
                    <option value="Russell" {% if scheduling_weather_task.voice == 'Russell' %} selected {% endif %}>Russell</option>
                    <option value="Amy" {% if scheduling_weather_task.voice == 'Amy' %} selected {% endif %}>Amy</option>
                    <option value="Brian" {% if scheduling_weather_task.voice == 'Brian' %} selected {% endif %}>Brian</option>
                    <option value="Emma" {% if scheduling_weather_task.voice == 'Emma' %} selected {% endif %}>Emma</option>
                    <option value="Daniella" {% if scheduling_weather_task.voice == 'Daniella' %} selected {% endif %}>Daniella</option>
                    <option value="Ruth" {% if scheduling_weather_task.voice == 'Ruth' %} selected {% endif %}>Ruth</option>
                    <option value="Gregory" {% if scheduling_weather_task.voice == 'Gregory' %} selected {% endif %}>Gregory</option>
                    <option value="Kevin" {% if scheduling_weather_task.voice == 'Kevin' %} selected {% endif %}>Kevin</option>
                    <option value="Joey" {% if scheduling_weather_task.voice == 'Joey' %} selected {% endif %}>Joey</option>
                    </select>
                  </div>
                  <div>
                    <label for="intros" class="block text-sm font-medium text-gray-700">INTROS :</label>
                    <input type="text" id="intros" name="intros" value="{{ scheduling_weather_task.intros }}" required
                           class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black">
                </div>
    
                <div>
                    <label for="outros" class="block text-sm font-medium text-gray-700">OUTROS:</label>
                    <input type="text" id="outros" name="outros" value="{{ scheduling_weather_task.outros }}" required
                           class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black">
                </div>
                <div class="mb-4">
                    <label for="newscaster" class="block text-sm font-medium text-gray-700">Newscaster</label>
                    <input type="text" id="news_caster" name="news_caster" required class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500 bg-white" value="{{ news_caster }}">
                </div>
                <br/>
                <br/>
                <h3 class="text-center text-orange-500 font-bold bg-black">{{ error_message }}</h3>

    
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-auto block">
                    Save Scheduling Task
                </button>
            </form>
          
        </div>
        
    </div>
    
    </div>
    <footer class="bg-black-800 text-white text-center py-4 ">
      <div class="container mx-auto">
        <p>&copy; <span id="currentYear"></span> - GroundRushLabs</p>
      </div>
    </footer>
    <script>
        const passwordInput = document.getElementById('sftp_password');
        const eyeIcon = document.getElementById('eyeIcon');
        const togglePassword = document.getElementById('togglePassword');
    
        togglePassword.addEventListener('click', () => {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.classList.remove('far', 'fa-eye');
                eyeIcon.classList.add('far', 'fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                eyeIcon.classList.remove('far', 'fa-eye-slash');
                eyeIcon.classList.add('far', 'fa-eye');
            }
        });

        
          // Update the current year dynamically
          document.getElementById('dropdown-button').addEventListener('click', function () {
            var menu = document.getElementById('dropdown-menu');
            menu.classList.toggle('hidden');
            menu.classList.toggle('block');
        });
        document.getElementById('currentYear').innerText = new Date().getFullYear();
        document.addEventListener('click', function (event) {
            var menu = document.getElementById('dropdown-menu');
            var button = document.getElementById('dropdown-button');
        
            if (!menu.contains(event.target) && !button.contains(event.target)) {
                menu.classList.add('hidden');
                menu.classList.remove('block');
            }
        });
        
    </script>
    
</body>
</html>