{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduling-Weather-tasks</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet"/>
    <style>
        /* Dark Mode styles */
        body.dark-mode {
          background-color: #1a1a1a;
          color: #ffffff;
        }
        body.dark-mode a {
          color: #78c0a8;
        }
        body.dark-mode a:hover {
          color: #48a999;
        }
        body {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
        }
  
        .bg-gray-800.text-white.text-center.py-4 {
          margin-top: auto;
        }
        body.dark-mode a.edit-link {
          color: #ffffff;  /* Set the desired white color for dark mode */
      }
      
      body.dark-mode a.edit-link:hover {
          color: #ffffff;  /* Set the desired white color for dark mode on hover */
      }
        
        /* Add more dark mode styles as needed */
      </style>
</head>
<body class="bg-gray-100 dark-mode">
    <br/>
    <br/>
    <br/>
    <br/>
   
    {% include 'navbar.html' %}

    <div class="container mx-auto p-4">
         
      
        <!-- Add Newscaster Button -->
        <div class="container mx-auto p-4 flex  mb-10">
          <div class="flex justify-start mr-auto">
            <form method="post" action="{% url 'rss_to_audio_app:delete_all_scheduling_weather_tasks' %}">
              {% csrf_token %}
              <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                  &#128465; Delete All Tasks
              </button>
          </form>
        </div>
        <div class="justify-end">
            <a href="/add_scheduling_weather_task/">
              <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                <span class="text-lg">&plus;</span> Add Scheduling task
            </button>
            
            
            </a>
          </div>
        </div>
        
        
        <h1 class="text-2xl font-bold mb-4">Scheduling-Weather-Tasks List</h1>
        <!-- Grid layout for newscasters -->
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
            <!-- Dynamically create cards for each newscaster -->
            {% if tasks %}
            {% for tasks in tasks %}
            <div class="bg-black rounded shadow-md overflow-hidden ">
                <div class="px-6 py-4 ">
                    <div class="font-bold text-xl mb-2 text-white">{{ tasks.sftp_username }}</div>
                    
                    <p class="text-white-700 text-base mb-4">
                        Voice: {{ tasks.voice }}
                    </p>
                    <p class="text-white-700 text-base">
                        Scheduled Time: {{ tasks.schedule_time }}
                    </p>
                    <p class="text-white-700 text-base">
                        Reccurence type: {{ tasks.recurrence_type }}
                    </p>
                    <p class="text-white-700 text-base">
                        Host: {{ tasks.sftp_host }}
                    </p>
                    <p class="text-white-700 text-base">
                       Remote Path: {{ tasks.sftp_remote_path }}
                    </p>
                    
                    

                </div>
                <div class="px-6 pt-4 pb-2 flex items-center space-x-4">
                  <form method="post" action="{% url 'rss_to_audio_app:delete_scheduling_weather_task' %}">
                      {% csrf_token %}
                      <input type="hidden" name="scheduling_tasks_id" value="{{ tasks.id }}">
                      <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                        &#128465; Delete
                    </button>
                    
                    
                  </form>
                   <a href="{% url 'rss_to_audio_app:edit_scheduling_weather_task' tasks.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded edit-link" style="font-size: 0.91em;">
                    &#9998; Edit
                </a> 
                
                
                
                
                  {% comment %} <button onclick="redirectToWeather('{{ newscaster.name }}')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                      Weather
                  </button> {% endcomment %}
                  {% comment %} <button onclick="redirectToNews('{{ newscaster.name }}')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                      News Bot
                  </button> {% endcomment %}
                  <br/>
              <br/>
              <br/>
              </div>
              
              
            </div>
            {% endfor %}
            {% else %}
            <div class="flex items-center justify-center h-full">
              <div class="bg-white p-6 rounded-lg shadow-md">
                  <p class="text-lg text-gray-800">No scheduling tasks for weather bot yet.<a href="/add_scheduling_weather_task/"> add now</a></p>
              </div>
          </div>

             
            {% endif %}
            
            
        </div>
    </div>
    
    </a>
    
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>



    <footer class="bg-gray-800 text-white text-center py-4">
      <div class="container mx-auto">
        <p>&copy; <span id="currentYear"></span> - GroundRushLabs</p>
      </div>
    </footer>
</body>
<script>
  // Update the current year dynamically
  document.getElementById('currentYear').innerText = new Date().getFullYear();
  document.getElementById('dropdown-button').addEventListener('click', function () {
    var menu = document.getElementById('dropdown-menu');
    menu.classList.toggle('hidden');
    menu.classList.toggle('block');
});

document.addEventListener('click', function (event) {
    var menu = document.getElementById('dropdown-menu');
    var button = document.getElementById('dropdown-button');

    if (!menu.contains(event.target) && !button.contains(event.target)) {
        menu.classList.add('hidden');
        menu.classList.remove('block');
    }
});
</script>
</body>

</html>