{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - News and Weather Bot</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- Include Tailwind CSS CDN here or link to your local CSS file -->
    <style>
      /* Dark Mode styles */
      body.dark-mode {
        background-color: #1a1a1a;
        color: #ffffff;
      }
      body.dark-mode a {
        color: #78c0a8;
      }
      body.dark-mode a:hover {
        color: #48a999;
      }
      .system{
        margin-top: 319px;
      }
      /* Add more dark mode styles as needed */
    </style>
</head>
<body class=" flex flex-col min-h-screen dark-mode bg-black-100">
    <!-- Navigation Bar -->
    <nav
          class="flex items-center justify-between p-6 lg:px-8"
          aria-label="Global"
        >
          <div class="flex lg:flex-1 ">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">Groundrushlabs</span>
              <img
                class="h-8 w-auto bg-white"
                src="{% static 'images\Groundrushlabs_logo.png' %}"
                alt="groundrushlabs-logo"
              />
            </a>
          </div>
          <div class="flex lg:hidden">
            <button
              type="button"
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
            </button>
          </div>
          <div class="hidden lg:flex lg:gap-x-12">
            {% comment %} <a
              href="/weather"
              class="text-sm font-semibold leading-6 text-gray-900"
              >Weather</a
            > {% endcomment %}
            <div class="flex items-center justify-center">
              <span class="text-green-500 pr-2">&#8592;</span> <!-- Left arrow emoji -->
              <a href="/Newscasters" class="text-sm font-semibold leading-6 text-black-900">Newscasters</a>
          </div>
          
            
            <a
              href="/contactus"
              class="text-sm font-semibold leading-6 text-gray-900"
              >Contact us</a
            >
            <a
              href="/aboutus"
              class="text-sm font-semibold leading-6 text-gray-900"
              >About us</a
            >
            <a
              href="/chatbot"
              class="text-sm font-semibold leading-6 text-gray-900"
              >Chatbot</a
            >
            {% if user.is_authenticated %}
            <p class="text-lg text-gray-800">
              Welcome,
              <span class="text-blue-500 font-semibold"
                >{{ user.username }}</span
              >!
            </p>
            <a
              href="/admin"
              class="text-sm font-semibold leading-6 text-black-900"
              >Admin Panel</a
            >
          </div>
          <div class="hidden lg:flex lg:flex-1 lg:justify-end"></div>

          <a
            href="{% url 'rss_to_audio_app:logout' %}"
            class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600"
            >Logout</a
          >

          {% else %}
          <!-- Your login form here -->
          {% endif %}
        </nav>

    <!-- About Us Content -->
    <div class="flex-grow ">
        <section class="container mx-auto mt-8 p-8  shadow-lg rounded-lg bg-black ">
            <h1 class="text-3xl font-semibold mb-4">About Us</h1>
        <p class="text-black-700">
          Effortlessly enhance your radio station's content with automated news delivery sourced from any online outlet of your choice. Utilize this feature for a wide array of purposes, whether it's daily news updates, weather reports, upcoming event announcements, sports updates, or any other creative content ideas you can conjure. All of this will be expertly crafted and narrated by our AI-empowered News Anchor, offering you exceptional quality at a significantly reduced cost.

        </p>

        <p class="text-black-700 mt-4">
            Our team is dedicated to delivering high-quality content and a seamless user experience. Whether you're looking for breaking news, weather forecasts, or just curious about our project, you're in the right place.
        </p>

        <p class="text-black-700 mt-4">
            Thank you for using our service. If you have any questions or feedback, please don't hesitate to <a href="/contactus" class="text-blue-500 hover:underline">contact us</a>.
        </p>
        <img
        src="{% static 'images\background.png' %}"
        alt="Sound Engineer"
        class="h-90 w-120 rounded-lg mt-5 transform transition-transform duration-500 ease-in-out hover:scale-110 animate__animated animate__pulse"
      >
      

    </section>
</div>



      

    <!-- Footer -->
    <footer class="bg-gray-800 text-white text-center py-4">
        <div class="container mx-auto">
            <p>&copy; 2023 GroundRushLabs</p>
        </div>
    </footer>
    
</body>
</html>
