<!-- templates/add_newscaster.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Newscaster</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet"/>
    <style>
        /* Dark Mode styles */
        body.dark-mode {
          background-color: #1a1a1a;
          color: #ffffff;
        }
        body.dark-mode a {
          color: #78c0a8;
        }
        body.dark-mode a:hover {
          color: #48a999;
        }
        /* Add more dark mode styles as needed */
      </style>
</head>
<body class="bg-gray-100 dark-mode">
    <header class="absolute inset-x-0 top-0 z-50">
        <nav
          class="flex items-center justify-between p-6 lg:px-8"
          aria-label="Global"
        >
          <div class="flex lg:flex-1 dark-mode">
            <a href="/" class="-m-1.5 p-1.5">
              <span class="sr-only">Groundrushlabs</span>
              {% comment %} <img
                class="h-8 w-auto bg-white"
                src="https://github.com/PragmaCodeRepo/Images/blob/main/Groundrushlabs_logo.png?raw=true"
                alt="pranjal"
              /> {% endcomment %}
              
              <img
                class="h-8 w-auto bg-white"
                src="{% static 'images\Groundrushlabs_logo.png' %}"
                alt="groundrushlabs-logo"
              />
            </a>
          </div>
          <div class="flex lg:hidden">
            <button
              type="button"
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-black-700"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
            </button>
          </div>
          <div class="hidden lg:flex lg:gap-x-12">
            {% comment %} <a
              href="/weather"
              class="text-sm font-semibold leading-6 text-black-900"
              >Weather</a
            > {% endcomment %}
            <div class="flex items-center justify-center">
                <span class="text-green-500 pr-2">&#8592;</span> <!-- Left arrow emoji -->
                <a href="/Newscasters" class="text-sm font-semibold leading-6 text-black-900">Newscasters</a>
            </div>
            
            <a
              href="/Newscasters"
              class="text-sm font-semibold leading-6 text-black-900"
              >Home</a
            >
            
            <a
              href="/contactus"
              class="text-sm font-semibold leading-6 text-black-900"
              >Contact us</a
            >
            <a
              href="/aboutus"
              class="text-sm font-semibold leading-6 text-black-900"
              >About us</a
            >
            <a
              href="/chatbot"
              class="text-sm font-semibold leading-6 text-black-900"
              >Chatbot</a
            >
            {% if user.is_authenticated %}
            <p class="text-lg text-black-800">
              Welcome,
              <span class="text-blue-500 font-semibold"
                >{{ user.username }}</span
              >!
            </p>
            <a
              href="/admin"
              class="text-sm font-semibold leading-6 text-black-900"
              >Admin Panel</a
            >
          </div>
          <div class="hidden lg:flex lg:flex-1 lg:justify-end"></div>

          <a
            href="{% url 'rss_to_audio_app:logout' %}"
            class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600"
            >Logout</a
          >

          {% else %}
          <!-- Your login form here -->
          {% endif %}
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div class="lg:hidden" role="dialog" aria-modal="true">
          <!-- Background backdrop, show/hide based on slide-over state. -->
          <div class="fixed inset-0 z-50"></div>
          <div
            class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
          >
            <div class="flex items-center justify-between dark-mode">
              <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Groundrush labs</span>
                <img
                  class="h-8 w-auto"
                  src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                  alt=""
                />
              </a>
              <button
                type="button"
                class="-m-2.5 rounded-md p-2.5 text-black-700"
              >
                <span class="sr-only">Close menu</span>
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>
            <div class="mt-6 flow-root">
              <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                  <a
                    href="#"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-black-900 hover:bg-gray-50"
                    >Product</a
                  >
                  <a
                    href="#"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-black-900 hover:bg-gray-50"
                    >Features</a
                  >
                  <a
                    href="#"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-black-900 hover:bg-gray-50"
                    >Marketplace</a
                  >
                  <a
                    href="#"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-black-900 hover:bg-gray-50"
                    >Company</a
                  >
                </div>
                <div class="py-6">
                  <a
                    href="#"
                    class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-black-900 hover:bg-gray-50"
                    >Log in</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <br/>
      <br/>
      <br/>
      <br/>
      <div class="bg-gray-800 min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded shadow-md w-full md:w-1/2 lg:w-1/3">
        
        <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">Add Newscaster</h1>
        <!-- Newscaster Form -->
         <!-- Added max-w-md and mx-auto for width and centering -->
            <form method="post" action="{% url 'rss_to_audio_app:add_newscaster' %}" class="space-y-4">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="name" class="block text-sm font-medium text-gray-700">Name:</label>
                    <input type="text" id="name" name="name" class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black" required>
                </div>
                <div class="mb-4">
                    <label for="language" class="block text-sm font-medium text-gray-700">Language:</label>
                    <input type="text" id="language" name="language" class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black" required>
                </div>
                <div class="mb-4">
                    <label for="voice" class="block text-sm font-medium text-gray-700">Voice:</label>
                    <input type="text" id="voice" name="voice" class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black" required>
                </div>
                <br/>
                <br/>
                <h3 class="text-center text-orange-500 font-bold bg-black">{{ error_message }}</h3>

    
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-auto block">
                    Save Newscaster
                </button>
            </form>
          
        </div>
    </div>
    
    </div>
</body>
</html>