{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newscaster List</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet"/>
    <style>
        /* Dark Mode styles */
        body.dark-mode {
          background-color: #1a1a1a;
          color: #ffffff;
        }
        body.dark-mode a {
          color: #78c0a8;
        }
        body.dark-mode a:hover {
          color: #48a999;
        }
        body {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
        }
  
        .bg-gray-800.text-white.text-center.py-4 {
          margin-top: auto;
        }
        /* Add more dark mode styles as needed */
      </style>
</head>
<body class="bg-gray-100 dark-mode">
    <br/>
    <br/>
    <br/>
    <br/>
   
    {% include 'navbar.html' %}

      <div class="bg-gray-800 min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded shadow-md w-full md:w-1/2 lg:w-1/3">
            <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">Edit Newscaster</h1>
            <form method="post" action="{% url 'rss_to_audio_app:edit_newscaster' newscaster.id %}" class="space-y-4">
                {% csrf_token %}
                
                <div>
                    <label for="name" class="block text-sm font-medium text-gray-700">Name:</label>
                    <input type="text" id="name" name="name" value="{{ newscaster.name }}" required
                           class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black">
                </div>
    
                <div>
                    <label for="language" class="block text-sm font-medium text-gray-700">Language:</label>
                    <input type="text" id="language" name="language" value="{{ newscaster.language }}" required
                           class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black">
                </div>
    
                <div>
                    <label for="voice" class="block text-sm font-medium text-gray-700">Voice:</label>
                    <input type="text" id="voice" name="voice" value="{{ newscaster.voice }}" required
                           class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black">
                </div>
                <div class="mb-4">
                  <label for="sftp_host" class="block text-sm font-medium text-gray-700">Sftp Host:</label>
                  <input type="text" id="sftp_host" name="sftp_host" class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black" value="{{ newscaster.sftp_host }}" required>
              </div>
              <div class="mb-4">
                <label for="sftp_port" class="block text-sm font-medium text-gray-700">Sftp Port:</label>
                <input type="text" id="sftp_port" name="sftp_port" class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black" value="{{ newscaster.sftp_port }}" required>
            </div>
            <div class="mb-4">
              <label for="sftp_username" class="block text-sm font-medium text-gray-700">Sftp Username:</label>
              <input type="text" id="sftp_username" name="sftp_username" class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black" value="{{ newscaster.sftp_username }}" required>
          </div>
          <div class="mb-4">
            <label for="sftp_password" class="block text-sm font-medium text-gray-700">Sftp Password:</label>
            <input type="text" id="sftp_password" name="sftp_password" class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black" value="{{ newscaster.sftp_password }}" required>
        </div>
        <div class="mb-4">
          <label for="sftp_remote_path" class="block text-sm font-medium text-gray-700">Sftp Reote Path:</label>
          <input type="text" id="sftp_remote_path" name="sftp_remote_path" class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 text-black" value="{{ newscaster.sftp_remote_path }}" required>
      </div>
    
                <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue">
                    Save Changes
                </button>
            </form>
        </div>
    </div>
    
    
</body>

</html>