<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Outros</title>
    <link rel="stylesheet" href="style.css" />
    <style>
      /* Dark Mode styles */
      body.dark-mode {
        background-color: #1a1a1a;
        color: #ffffff;
      }
      body.dark-mode a {
        color: #78c0a8;
      }
      body.dark-mode a:hover {
        color: #48a999;
      }
      .system {
        margin-top: 319px;
      }
      /* Add more dark mode styles as needed */
    </style>
  </head>
  {% include 'navbar.html' %}

  <body class="bg-gray-100 flex items-center justify-center h-screen dark-mode">
    <div class="max-w-md w-full p-8 rounded-md shadow-md bg-black">
      <h2 class="text-2xl font-bold mb-6 text-center text-white">
        Enter Outro
      </h2>
      <form method="post" action="" class="space-y-4">
        {% csrf_token %}
        <div>
          <label
            for="outro_text"
            class="block text-sm font-medium text-white-700"
            >Outro Text:</label
          >
          <textarea
            name="outro_text"
            required
            class="mt-1 p-2 border rounded-md w-full bg-black"
          ></textarea>
          <label
            for="outro_text"
            class="block text-sm font-medium text-black-700"
            >Newscaster:</label
          >
          <textarea
            name="news_caster"
            required
            class="mt-1 p-2 border rounded-md w-full bg-black"
          ></textarea>
        </div>
        <div id="suggestions" class="mt-2 text-sm text-gray-400">
          <h1>Suggestions for outros:</h1>
          <br />
          {% for suggestion in suggestions %}
          <span
            class="cursor-pointer hover:text-white"
            onclick="populateIntro('{{ suggestion }}')"
            >{{ suggestion }} <br /><br
          /></span>
          {% endfor %}
        </div>
        <button
          type="submit"
          class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300 w-full bg-black"
        >
          Submit
        </button>
      </form>
    </div>

    <script>
      function populateIntro(suggestion) {
        document.querySelector('textarea[name="outro_text"]').value =
          suggestion;
      }
    </script>
  </body>
</html>
