<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Outros</title>
    <link rel="stylesheet" href="style.css" />
    <style>
      /* Dark Mode styles */
      body.dark-mode {
        background-color: #1a1a1a;
        color: #ffffff;
      }
      body.dark-mode a {
        color: #78c0a8;
      }
      body.dark-mode a:hover {
        color: #48a999;
      }
      .system {
        margin-top: 319px;
      }
      /* Add more dark mode styles as needed */
    </style>
  </head>
  <header class="absolute inset-x-0 top-0 z-50">
    <nav
      class="flex items-center justify-between p-6 lg:px-8"
      aria-label="Global"
    >
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Groundrushlabs</span>
          <img
            class="h-8 w-auto bg-white"
            src="https://github.com/PragmaCodeRepo/Images/blob/main/Groundrushlabs_logo.png?raw=true"
            alt="pranjal"
          />
        </a>
      </div>
      <div class="flex lg:hidden">
        <button
          type="button"
          class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        {% comment %}
        <a href="/weather" class="text-sm font-semibold leading-6 text-gray-900"
          >Weather</a
        >
        {% endcomment %}
        <a href="/" class="text-sm font-semibold leading-6 text-black-900"
          >Home</a
        >
        <a
          href="/contactus"
          class="text-sm font-semibold leading-6 text-gray-900"
          >Contact us</a
        >
        <a href="/aboutus" class="text-sm font-semibold leading-6 text-gray-900"
          >About us</a
        >
        <a href="/chatbot" class="text-sm font-semibold leading-6 text-gray-900"
          >Chatbot</a
        >
        {% if user.is_authenticated %}
        <p class="text-lg text-black-800">
          Welcome,
          <span class="text-blue-500 font-semibold">{{ user.username }}</span>!
        </p>
        <a href="/admin" class="text-sm font-semibold leading-6 text-black-900"
          >Admin Panel</a
        >
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end"></div>

      <a
        href="{% url 'rss_to_audio_app:logout' %}"
        class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600"
        >Logout</a
      >

      {% else %}
      <!-- Your login form here -->
      {% endif %}
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="lg:hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-50"></div>
      <div
        class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
      >
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Groundrush labs</span>
            <img
              class="h-8 w-auto"
              src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
              alt=""
            />
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Close menu</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Product</a
              >
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Features</a
              >
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Marketplace</a
              >
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Company</a
              >
            </div>
            <div class="py-6">
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Log in</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <body class="bg-gray-100 flex items-center justify-center h-screen dark-mode">
    <div class="max-w-md w-full p-8 rounded-md shadow-md bg-black">
      <h2 class="text-2xl font-bold mb-6 text-center text-white">
        Enter Outro
      </h2>
      <form method="post" action="" class="space-y-4">
        {% csrf_token %}
        <div>
          <label
            for="outro_text"
            class="block text-sm font-medium text-white-700"
            >Outro Text:</label
          >
          <textarea
            name="outro_text"
            required
            class="mt-1 p-2 border rounded-md w-full bg-black"
          ></textarea>
          <label
            for="outro_text"
            class="block text-sm font-medium text-black-700"
            >Newscaster:</label
          >
          <textarea
            name="news_caster"
            required
            class="mt-1 p-2 border rounded-md w-full bg-black"
          ></textarea>
        </div>
        <div id="suggestions" class="mt-2 text-sm text-gray-400">
          <h1>Suggestions for outros:</h1>
          <br />
          {% for suggestion in suggestions %}
          <span
            class="cursor-pointer hover:text-white"
            onclick="populateIntro('{{ suggestion }}')"
            >{{ suggestion }} <br /><br
          /></span>
          {% endfor %}
        </div>
        <button
          type="submit"
          class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300 w-full bg-black"
        >
          Submit
        </button>
      </form>
    </div>

    <script>
      function populateIntro(suggestion) {
        document.querySelector('textarea[name="outro_text"]').value =
          suggestion;
      }
    </script>
  </body>
</html>
