{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Groundrush</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      /* Dark Mode styles */
      body.dark-mode {
        background-color: #1a1a1a;
        color: #ffffff;
      }
      body.dark-mode a {
        color: #78c0a8;
      }
      body.dark-mode a:hover {
        color: #48a999;
      }
      /* Add more dark mode styles as needed */
    </style>
  </head>
  <body class="dark-mode">
    <div class="bg-black dark-mode">
      <header class="absolute inset-x-0 top-0 z-50">
        <nav
          class="flex items-center justify-between p-6 lg:px-8"
          aria-label="Global"
        >
          <div class="flex lg:flex-1 dark-mode">
            <a href="/" class="-m-1.5 p-1.5">
              <span class="sr-only">Groundrushlabs</span>
              {% comment %} <img
                class="h-8 w-auto bg-white"
                src="https://github.com/PragmaCodeRepo/Images/blob/main/Groundrushlabs_logo.png?raw=true"
                alt="pranjal"
              /> {% endcomment %}
              
              <img
                class="h-8 w-auto bg-white"
                src="{% static 'images\Groundrushlabs_logo.png' %}"
                alt="groundrushlabs-logo"
              />
            </a>
          </div>
          <div class="flex lg:hidden">
            <button
              type="button"
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-black-700"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
            </button>
          </div>
          <div class="hidden lg:flex lg:gap-x-12">
            {% comment %} <a
              href="/weather"
              class="text-sm font-semibold leading-6 text-black-900"
              >Weather</a
            > {% endcomment %}
            <a
              href="/news"
              class="text-sm font-semibold leading-6 text-black-900"
              >News</a
            >
            <a
              href="/weather-zipcode"
              class="text-sm font-semibold leading-6 text-black-900"
              >Weather-by-zipcode</a
            >
            
            <a
              href="/contactus"
              class="text-sm font-semibold leading-6 text-black-900"
              >Contact us</a
            >
            <a
              href="/aboutus"
              class="text-sm font-semibold leading-6 text-black-900"
              >About us</a
            >
            <a
              href="/chatbot"
              class="text-sm font-semibold leading-6 text-black-900"
              >Chatbot</a
            >
            {% if user.is_authenticated %}
            <p class="text-lg text-black-800">
              Welcome,
              <span class="text-blue-500 font-semibold"
                >{{ user.username }}</span
              >!
            </p>
            <a
              href="/admin"
              class="text-sm font-semibold leading-6 text-black-900"
              >Admin Panel</a
            >
          </div>
          <div class="hidden lg:flex lg:flex-1 lg:justify-end"></div>

          <a
            href="{% url 'rss_to_audio_app:logout' %}"
            class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600"
            >Logout</a
          >

          {% else %}
          <!-- Your login form here -->
          {% endif %}
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div class="lg:hidden" role="dialog" aria-modal="true">
          <!-- Background backdrop, show/hide based on slide-over state. -->
          <div class="fixed inset-0 z-50"></div>
          <div
            class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
          >
            <div class="flex items-center justify-between dark-mode">
              <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Groundrush labs</span>
                <img
                  class="h-8 w-auto"
                  src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                  alt=""
                />
              </a>
              <button
                type="button"
                class="-m-2.5 rounded-md p-2.5 text-black-700"
              >
                <span class="sr-only">Close menu</span>
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>
            <div class="mt-6 flow-root">
              <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                  <a
                    href="#"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-black-900 hover:bg-gray-50"
                    >Product</a
                  >
                  <a
                    href="#"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-black-900 hover:bg-gray-50"
                    >Features</a
                  >
                  <a
                    href="#"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-black-900 hover:bg-gray-50"
                    >Marketplace</a
                  >
                  <a
                    href="#"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-black-900 hover:bg-gray-50"
                    >Company</a
                  >
                </div>
                <div class="py-6">
                  <a
                    href="#"
                    class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-black-900 hover:bg-gray-50"
                    >Log in</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="relative isolate px-6 pt-14 lg:px-8">
        <div
          class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
          aria-hidden="true"
        >
          <div
            class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
          ></div>
        </div>
        <div class="mt-5 {% if flag %}border-dotted border-2 border-gray-400 p-4 rounded-lg{% endif %}">
          {% if flag %}
              <div class="flex justify-center mb-5">
                  <h1 class="text-2xl sm:text-2xl lg:text-2xl font-bold text-center">
                      Task scheduled successfully for 
                      {% if recurr_type == "weekly" %}
                          <span class="text-blue-500">Every Week</span> at {{ time_to_show }}!
                      {% elif recurr_type == "monthly" %}
                          <span class="text-green-500">Every Month</span> at {{ time_to_show }}!
                      {% elif recurr_type == "everyhour" %}
                          <span class="text-yellow-500">Every Hour</span> at {{ time_to_show }}!
                      {% else %}
                      <span class="text-red-500">One time</span> at {{ time_to_show }}!
                      {% endif %}
                  </h1>
              </div>
          {% endif %}
      </div>
      
      
    
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            
            <div
              class="relative rounded-full px-3 py-1 text-sm leading-6 text-black-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20 dark-mode"
            >
              Radio News bot.
              <a href="/aboutus" class="font-semibold text-indigo-600"
                ><span class="absolute inset-0" aria-hidden="true"></span>Read
                more <span aria-hidden="true">&rarr;</span></a
              >
            </div>
          </div>
          <div class="text-center ">
            <h1
              class="text-4xl font-bold tracking-tight text-black-900 sm:text-6xl  <style>
                /* Dark Mode styles */
                body.dark-mode {
                  background-color: #1a1a1a;
                  color: #ffffff;
                }
                body.dark-mode a {
                  color: #78c0a8;
                }
                body.dark-mode a:hover {
                  color: #48a999;
                }
                /* Add more dark mode styles as needed */
              </style>"
            >
              Automated Generation of News and Weather
            </h1>
            <p class="mt-6 text-lg leading-8 text-black-600">
              News RSS to Audio Conversion
            </p>
            <div class="max-w-4xl mx-auto p-8">
              <form
                action="{% url 'rss_to_audio_app:convert' %}"
                method="post"
                class="mb-8"
                enctype="multipart/form-data"
              >
              
              
                {% csrf_token %}
                <div class="mb-4 ">
                  <label
                    for="rss_url"
                    class="block text-black-700 font-semibold mb-2"
                    >Enter RSS Feed URL:</label
                  >
                  <input
                    type="text"
                    id="rss_url"
                    name="rss_url"
                    required
                    class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500 bg-black"
                  />
                </div>
                <label class="block font-medium text-black-700"
                  >Select Voices:</label
                >
                <select
                  name="voice"
                  class="block w-full px-4 py-2 mt-1 border border-gray-300 rounded-md focus:ring focus:ring-indigo-200 focus:border-indigo-500 focus:outline-none focus:ring-opacity-50 mb-10 bg-black"
                >
                {% comment %} <option value="Neutral">Neutral</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option> {% endcomment %}
                <option value="21m00Tcm4TlvDq8ikWAM">Rachel</option>
                <option value="29vD33N1CtxCmqQRPOHJ">Drew</option>
                <option value="2EiwWnXFnvU5JabPnv8n">Clyde</option>
                <option value="AZnzlk1XvdvUeBnXmlld">Domi</option>
                <option value="CYw3kZ02Hs0563khs1Fj">Dave</option>
                <option value="D38z5RcWu1voky8WS1ja">Fin</option>
                <option value="EXAVITQu4vr4xnSDxMaL">Sarah</option>
                <option value="ErXwobaYiN019PkySvjV">Antoni</option>
                <option value="GBv7mTt0atIp3Br8iCZE">Thomas</option>
                <option value="IKne3meq5aSn9XLyUdCD">Charlie</option>
                <option value="JBFqnCBsd6RMkjVDRZzb">George</option>
                <option value="LcfcDJNUP1GQjkzn1xUU">Emily</option>
                <option value="MF3mGyEYCl7XYWbV9V6O">Elli</option>
                <option value="N2lVS1w4EtoT3dr4eOWO">Callum</option>
                <option value="ODq5zmih8GrVes37Dizd">Patrick</option>
                <option value="SOYHLrjzK2X1ezoPC6cr">Harry</option>
                <option value="TX3LPaxmHKxFdv7VOQHJ">Liam</option>
                <option value="ThT5KcBeYPX3keUQqHPh">Dorothy</option>
                <option value="TxGEqnHWrfWFTfGW9XjX">Josh</option>
                </select>

                <!-- Add a file input for uploading custom music -->
                <div class="mb-6">
                  <label class="block font-medium text-black-700"
                    >Select Background Music:</label
                  >
                  <div
                    class="flex items-center justify-center w-full h-32 border border-dashed border-gray-300 rounded-lg"
                  >
                    <input
                      type="file"
                      id="music_file"
                      name="music_file"
                      accept="audio/mpeg"
                      class="hidden"
                      onchange="displayFileName(this)"
                    />
                    <label
                      for="music_file"
                      class="cursor-pointer text-blue-500 hover:text-blue-600 transition duration-300 ease-in-out"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-20 h-8 mr-2"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="3"
                          d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                        />
                      </svg>
                      Click to Upload
                    </label>
                  </div>
                  <p class="text-black-600 text-sm mt-2" id="file-name">
                    Accepted formats: .mp3
                  </p>
                </div>

                {% include "select_intro_outro.html" %}
                
                <div class="flex justify-center mt-5 mb-5 text-black">
                  <a href="/intro-text" class="inline-block px-4 py-2  bg-blue-500 rounded hover:bg-blue-600 transition duration-300"><p class="text-white">Edit Your Intros</p></a>
                  <a href="/outro-text" class="ml-4 inline-block px-4 py-2  bg-green-500 rounded hover:bg-green-600 transition duration-300"><p class="text-white">Edit Your Outros</p></a>
              </div>
              
              
               <div class="mb-4">

                <div class="mb-4 bg-black">
                  <label for="limit" class="block text-black-700 text-sm font-bold mb-2">Limit of the no of stories:</label>
                  <input
                      type="number"
                      name="limit"
                      id="limit"
                      required
                      class="block w-full px-4 py-2 mt-2 leading-5 border border-gray-300 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md shadow-sm text-sm placeholder-gray-400 bg-black">
              </div>
              

                <br />

                <script>
                  function displayFileName(input) {
                    const fileNameDisplay =
                      document.getElementById("file-name");
                    if (input.files.length > 0) {
                      fileNameDisplay.textContent =
                        "Selected file: " + input.files[0].name;
                    } else {
                      fileNameDisplay.textContent = "Accepted formats: .mp3";
                    }
                  }
                </script>
                {% comment %} sftpt {% endcomment %}
                <div class="flex flex-wrap -mx-4">
                  <div class="w-1/2 px-4">
                    <div class="mb-4">
                      <label for="sftp_host" class="block text-black-700 font-semibold mb-2">SFTP Host:</label>
                      <input
                        type="text"
                        id="sftp_host"
                        name="sftp_host"
                        required
                        class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500 bg-black"
                      />
                    </div>
                  </div>
                
                  <div class="w-1/2 px-4">
                    <div class="mb-4">
                      <label for="sftp_port" class="block text-black-700 font-semibold mb-2">SFTP Port:</label>
                      <input
                        type="number"
                        id="sftp_port"
                        name="sftp_port"
                        required
                        class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500 bg-black"
                      />
                    </div>
                  </div>
                
                  <div class="w-1/2 px-4">
                    <div class="mb-4">
                      <label for="sftp_username" class="block text-black-700 font-semibold mb-2">SFTP Username:</label>
                      <input
                        type="text"
                        id="sftp_username"
                        name="sftp_username"
                        required
                        class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500 bg-black"
                      />
                    </div>
                  </div>
                
                  <div class="w-1/2 px-4">
                    <div class="mb-4">
                      <label for="sftp_password" class="block text-black-700 font-semibold mb-2">SFTP Password:</label>
                      <input
                        type="password"
                        id="sftp_password"
                        name="sftp_password"
                        required
                        class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500 bg-black"
                      />
                    </div>
                  </div>
                
                  <div class="w-1/2 px-4">
                    <div class="mb-4">
                      <label for="sftp_remote_path" class="block text-black-700 font-semibold mb-2">SFTP Remote Path</label>
                      <input
                        type="text"
                        id="sftp_remote_path"
                        name="sftp_remote_path"
                        required
                        class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500 bg-black"
                      />
                    </div>
                  </div>
                </div>
                <div class="mb-4">
                  <label for="newscaster" class="block text-gblackray-700 font-semibold mb-2">Newscaster</label>
                  <input type="text" id="news_caster" name="news_caster" required class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500 bg-black" value="{{ news_caster }}">
              </div>
                
                <button
                  type="submit"
                  class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                >
                 Convert to Audio( Download directly)
                </button>
                <br />

                
                <div class="lg p-6 bg-black rounded-md">
                  <label for="recurrence_type" class="block text-sm font-medium text-white-700">Recurrence Type:</label>
                  <select id="recurrence_type" name="recurrence_type" class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300 bg-black">
                    <option value="onetime">One time</option>
                    <option value="weekly">Weekly</option>
                    <option value="everyhour">Every Hour</option>
                    <option value="monthly">Monthly</option>
                  </select>
                   
                
                
                  <label for="schedule_time" class="block text-sm font-medium text-white-700 mt-4">Schedule Time:</label>
                  <input type="datetime-local" id="schedule_time" name="schedule_time" class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300 bg-black" />
                
                  <button type="submit" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Schedule Task</button>
                </div>
                <a
                  href="/weather-zipcode"
                  class="text-sm font-semibold leading-6 text-black-900"
                  >Weather bot <span aria-hidden="true">→</span></a
                >
                
              </form>

              
              {% if audio_url %}
              <div class="mb-4">
                <audio controls class="w-full">
                  <source src="{{ audio_url }}" type="audio/mpeg" />
                  Your browser does not support the audio element.
                </audio>
              </div>
              <p>
                <a
                  href="{{ audio_url }}"
                  download
                  class="text-blue-500 hover:underline"
                  >Download Audio</a
                >
              </p>

              {% endif %}
            </div>
            <div class="mt-10 flex items-center justify-center gap-x-6"></div>
          </div>
        </div>
        <div
          class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
          aria-hidden="true"
        >
          <div
            class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
            style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
          ></div>
        </div>
      </div>
    </div>
    

    
    <footer class="bg-gray-800 text-white text-center py-4">
      <div class="container mx-auto">
          <p>&copy; 2023 GroundRushLabs</p>
      </div>
  </footer>
  </body>
</html>
