
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newscaster List</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet"/>
    <style>
        /* Dark Mode styles */
        body.dark-mode {
          background-color: #1a1a1a;
          color: #ffffff;
        }
        body.dark-mode a {
          color: #78c0a8;
        }
        body.dark-mode a:hover {
          color: #48a999;
        }
        body {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
        }
  
        .bg-gray-800.text-white.text-center.py-4 {
          margin-top: auto;
        }
        body.dark-mode a.edit-link {
          color: #ffffff;  /* Set the desired white color for dark mode */
      }
      
      body.dark-mode a.edit-link:hover {
          color: #ffffff;  /* Set the desired white color for dark mode on hover */
      }
        
        /* Add more dark mode styles as needed */
      </style>
</head>
<body class="bg-gray-100 dark-mode">
    <br/>
    <br/>
    <br/>
    <br/>
   
    {% include 'navbar.html' %}

    <div class="container mx-auto p-4 ">
        <!-- Add Newscaster Button -->
        
        <div class="container mx-auto p-4 flex  mb-10">
          <div class="flex justify-start mr-auto">
            <form method="post" action="{% url 'rss_to_audio_app:delete_all_newscaster' %}">
              {% csrf_token %}
              <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                &#128465; Delete All Newscasters
              </button>
            </form>
          </div>
          <div class="justify-end">
            <a href="/add_newscaster">
              <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                <span class="text-lg">&plus;</span> Add Newscaster
            </button>
          </div>
            
            
            </a>
        </div>
        
        <h1 class="text-2xl font-bold mb-4">Newscaster List</h1>
        <!-- Grid layout for newscasters -->
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
            <!-- Dynamically create cards for each newscaster -->
            {% if newscasters %}
            {% for newscaster in newscasters %}
            <div class="bg-black rounded shadow-md overflow-hidden ">
                <div class="px-6 py-4 ">
                    <div class="font-bold text-xl mb-2 text-white">{{ newscaster.name }}</div>
                    <p class="text-grawhitey-700 text-base mb-4">
                        Language: {{ newscaster.language }}
                    </p>
                    <p class="text-white-700 text-base">
                        Voice: {{ newscaster.voice }}
                    </p>
                </div>
                <div class="px-6 pt-4 pb-2 flex items-center space-x-4">
                  <form method="post" action="{% url 'rss_to_audio_app:delete_newscaster' %}">
                      {% csrf_token %}
                      <input type="hidden" name="newscaster_id" value="{{ newscaster.id }}">
                      <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                        &#128465; Delete
                    </button>
                    
                    
                  </form>
                  <a href="{% url 'rss_to_audio_app:edit_newscaster' newscaster.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded edit-link" style="font-size: 0.91em;">
                    &#9998; Edit
                </a>
                
                
                
                
                <button onclick="redirectToWeather('{{ newscaster.name }}', '{{ newscaster.language }}', '{{ newscaster.sftp_host }}', '{{ newscaster.sftp_port }}', '{{ newscaster.sftp_username }}', '{{ newscaster.sftp_password }}', '{{ newscaster.sftp_remote_path }}')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                  Weather
              </button>
              
                  <button onclick="redirectToNews('{{ newscaster.name }}', '{{ newscaster.language }}', '{{ newscaster.sftp_host }}', '{{ newscaster.sftp_port }}', '{{ newscaster.sftp_username }}', '{{ newscaster.sftp_password }}', '{{ newscaster.sftp_remote_path }}')"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                      News Bot
                  </button>
                  <br/>
              <br/>
              <br/>
              </div>
              
              
            </div>
            {% endfor %}

            
            {% else %}
            <!-- Add this code where you want to display the message -->
<div class="flex items-center justify-center h-full">
  <div class="bg-white p-6 rounded-lg shadow-md">
      <p class="text-lg text-gray-800">No scheduling Newscaster added yet.<a href="/add_newscaster/"> add now</a></p>
  </div>
</div>

            {% endif %}
            
            
        </div>
    </div>
    
    </a>
    <script>
        function redirectToNews(newscasterName, language, sftpHost, sftpPort, sftpUsername, sftpPassword, sftpRemotePath) {
          const encodedName = encodeURIComponent(newscasterName);
          const encodedLanguage = encodeURIComponent(language);
          const encodedHost = encodeURIComponent(sftpHost);
          const encodedPort = encodeURIComponent(sftpPort);
          const encodedUsername = encodeURIComponent(sftpUsername);
          const encodedPassword = encodeURIComponent(sftpPassword);
          const encodedRemotePath = encodeURIComponent(sftpRemotePath);
      
          window.location.href = `/news?newscaster=${encodedName}&language=${encodedLanguage}&sftp_host=${encodedHost}&sftp_port=${encodedPort}&sftp_username=${encodedUsername}&sftp_password=${encodedPassword}&sftp_remote_path=${encodedRemotePath}`;
        }
        function redirectToWeather(newscasterName, language, sftpHost, sftpPort, sftpUsername, sftpPassword, sftpRemotePath) {
          const encodedName = encodeURIComponent(newscasterName);
          const encodedLanguage = encodeURIComponent(language);
          const encodedHost = encodeURIComponent(sftpHost);
          const encodedPort = encodeURIComponent(sftpPort);
          const encodedUsername = encodeURIComponent(sftpUsername);
          const encodedPassword = encodeURIComponent(sftpPassword);
          const encodedRemotePath = encodeURIComponent(sftpRemotePath);
      
          window.location.href = `/weather-zipcode?newscaster=${encodedName}&language=${encodedLanguage}&sftp_host=${encodedHost}&sftp_port=${encodedPort}&sftp_username=${encodedUsername}&sftp_password=${encodedPassword}&sftp_remote_path=${encodedRemotePath}`;
        }
    </script>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>



    <footer class="bg-gray-800 text-white text-center py-4">
      <div class="container mx-auto">
        <p>&copy; <span id="currentYear"></span> - GroundRushLabs</p>
      </div>
    </footer>
</body>
<script>
    // Update the current year dynamically
    document.getElementById('currentYear').innerText = new Date().getFullYear();
    document.getElementById('dropdown-button').addEventListener('click', function () {
      var menu = document.getElementById('dropdown-menu');
      menu.classList.toggle('hidden');
      menu.classList.toggle('block');
  });

  document.addEventListener('click', function (event) {
      var menu = document.getElementById('dropdown-menu');
      var button = document.getElementById('dropdown-button');

      if (!menu.contains(event.target) && !button.contains(event.target)) {
          menu.classList.add('hidden');
          menu.classList.remove('block');
      }
  });
</script>

</body>

</html>