<label for="intro_user" class="block text-sm font-medium text-black-700"
  >Introduction:</label
>

<select
  id="intros_user"
  name="intros_user"
  class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300 w-full  text-white bg-black"
>
  {% for intro in intros %}
  <option value="{{ intro.intros }}">{{ intro.intros }}</option>
  {% endfor %}
</select>

<label for="outro_user" class="block text-sm font-medium text-black-700"
  >Outros:</label
>
<select
  id="outro_user"
  name="outro_user"
  class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300 w-full  text-white bg-black"
>
  {% for outro in outros %}
  <option value="{{outro.outros}}">{{outro.outros}}</option>
  {% endfor %}
</select>
